<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar Plato</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Modificar Plato</h1>
    <form id="formModificarPlato">
        Nombre: <input type="text" name="nombre" required><br>
        Descripción: <input type="text" name="descripcion" required><br>
        Precio: <input type="number" name="precio" required><br>
        <input type="submit" value="Modificar Plato">
    </form>
    <script src="validar_plato.js"></script>
</body>
</html>