<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funciones de Platos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Funciones de Platos</h1>
    <ul>
        <li><a href="/platos/listar_platos">Listar Platos</a></li>
        <li><a href="/platos/consultar_platos">Consultar Platos</a></li>
        <li><a href="/platos/agregar_platos">Agregar Plato</a></li>
        <li><a href="/platos/modificar_platos">Modificar Plato</a></li>
        <li><a href="/platos/eliminar_platos">Eliminar Plato</a></li>
    </ul>
    <a href="/indexCRUD.html">Volver al Menú Principal</a>
</body>
</html>