::selection {
    background-color: gray;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to bottom, #424242,#212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
  }
  
  .title {
    color: #f2bc57;
    margin: 3rem 0;
    font-size: 2rem;
  }
  
  .input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: #f2bc57;
    border: none;
    outline: none;
  }
  
  .username {
    border-bottom: 1px solid #f2bc57;
    transition: all 400ms;
  }
  
  .username:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
  }
  .cantidad {
    border-bottom: 1px solid #f2bc57;
    transition: all 400ms;
  }
  
  .cantidad:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
  }
  
  .btn {
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    background-color: #f2bc57;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    box-shadow: 0 0 10px  antiquewhite, 0 0 10px antiquewhite;
  }
  
  .btn:hover {
    background-color: antiquewhite;
    box-shadow: none;
  }
  